@font-face {
  font-family: "gvaIcon";
  src: url("data:font/ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTZJUyU8AAA14AAAAHEdERUYAKQARAAANWAAAAB5PUy8yPJpJTAAAAVgAAABgY21hcM0T0L4AAAHYAAABWmdhc3D//wADAAANUAAAAAhnbHlmRk3UvwAAA0wAAAbYaGVhZB/a5jgAAADcAAAANmhoZWEHngOFAAABFAAAACRobXR4DaoBrAAAAbgAAAAebG9jYQbMCGgAAAM0AAAAGG1heHABGgB+AAABOAAAACBuYW1lXoIBAgAACiQAAAKCcG9zdN15OnUAAAyoAAAAqAABAAAAAQAA+a916l8PPPUACwQAAAAAAN5YUSMAAAAA3lhRIwBL/8ADwAM1AAAACAACAAAAAAAAAAEAAAOA/4AAXAQAAAAAAAPAAAEAAAAAAAAAAAAAAAAAAAAEAAEAAAALAHIABQAAAAAAAgAAAAoACgAAAP8AAAAAAAAABAQAAZAABQAAAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZADA5mXmfQOA/4AAAAPcAIAAAAABAAAAAAAAAAAAAAAgAAEEAAAAAAAAAAQAAAAEAACLAIoAYAB1AHYASwBLAGAAAAAAAAMAAAADAAAAHAABAAAAAABUAAMAAQAAABwABAA4AAAACgAIAAIAAuZm5mrmduZ9//8AAOZl5mrmdeZ7//8ZnhmbGZEZjQABAAAAAAAAAAAAAAAAAQYAAAEAAAAAAAAAAQIAAAACAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEYAigEcAbgCUAK6AxoDbAACAIsAIANsAswAEQAjAAAlIicBJjQ3ATYeAQYHCQEeAQYhIicBJjQ3ATYeAQYHCQEeAQYDSw0J/qsLCwFVChsSAgr+xAE8CgIV/qkNCP6qCgoBVgkbEgIK/sUBOwoCFCAJATULGQsBNQoCExwI/uL+4ggbFAkBNQsZCwE1CgITHAj+4v7iCRoUAAAAAAIAigAgA2sCzAARACIAAAE0JwEmDgEWFwkBDgEWMjcBNiUBJg4BFhcJAQ4BFjI3ATY0AiAL/qsJHBECCQE8/sQJAhQZCQFVCwFA/qsKGxICCgE8/sQKAhUZCQFVCwF1DQsBNQoCExwI/uL+4gkaFAkBNQskATUKAhMcCP7i/uIJGhQJATULGQADAGD/wAOgAzUATABcAGwAAAE1NCcmJyYiBwYHBh0BDgEdARQWOwEyNj0BNCYrATU0NzY3NjIXFhcWHQEjIgYdARQWOwEGBwYHLgEjIgYUFjMyNjc2NzY3PgE9ATQmBRUUBisBIiY9ATQ2OwEyFgUUBisBIiY9ATQ2OwEyFhUDYDAvT1O+U08vMBslLB9VHi0tHiAoJkFDnENBJiggHi0tHhUPJC5SChwRHCQkHBEeCHJAMxAfKiX9kAYFVQUGBgVVBQYCVQYFVQUGBgVVBQYByQxgUlAuMDAuUFJgDAQqG6seLCweqx4tCk5DQScnJydBQ04KLR6rHiwrGiAGDxElNiUSEAc1KkUBKx6rGyhFqwQGBgSrBQYGsAQGBgSrBQYGBQAABAB1//UDjQMLABsANwBSAHEAABMyNj0BFxYyNjQvATMyNjQmKwEiBwYHBh0BFBYFIgYdAScmIgYUHwEjIgYUFjsBMjc2NzY9ATYmJQc1NCYiBh0BFBcWFxY7ATI2NCYrATc2NCYGATQ1FSYnJisBIgYUFjsBBwYUFjI/ARUUFjI2PQEnJpUNE7wJHRMKvIcMFBQM1ggCDAgCFALiDRPJCRoTCcmJDBQUDNYIAg8CAwES/gbJExkUAggKBAbWDBQUDInJCRMXAgEHCwQG2AwUFAyJvAkSHgi8ExoTAgEB9RQMibwIEhkKvBMZFAIGDAQI1gwU6hQMickJExoJyRMZFAIICgQG2AwUIsmHDBQUDNYIAg8CAxQZE8kKGRMBAcABAQIOAwMUGRO8ChkTCbyHDBQUDNYFBAAABAB2//cDjgMMABoANQBRAG0AAAEjIgYUFjsBMjc2NzY9ATQmIgYdAScmIgYUFwEzMjY0JisBIgcGBwYdARQWMjY9ARcWMjY0JyUmJyYrASIGFBY7AQcGFBYyPwEVFBYyNj0BLgE3FhcWOwEyNjQmKwE3NjQmIg8BNTQmIgYdAR4BATqJDRMTDdUJAg8CAhMaE7cKGRQKAjeJDRMTDdUJAg8CAhMaE8gJHhIK/i8HCgQH1w0TEw2JyQoTHQnIFBkTAQKoBwoEBtYNExMNibwKFBkKvBMZFAICAhoUGRMCBwoEBtYNExMNib4KExoK/iAUGRMCBwoEB9UNExMNickIEhkK8w8CAhMZFMgKGRMJyYkNExMN1QIJzQ8CAhMZFLsKGhMKvIkNExMN1QMIAAAAAAUAS//LA7UDNQAUACkAKgA3AEQAAAEiBwYHBhQXFhcWMjc2NzY0JyYnJgMiJyYnJjQ3Njc2MhcWFxYUBwYHBgMjFB4BMj4BNC4BIg4BFyIGHQEUFjI2PQE0JgIAd2ZiOzs7O2Jm7mZiOzs7O2Jmd2VXVDIzMzJUV8pXVDIzMzJUV2UrDBQWFAwMFBYUDCsNExMaExMDNTs7YmbuZmI7Ozs7YmbuZmI7O/zWMzJUV8pXVDIzMzJUV8pXVDIzAjULFAwMFBYUDAwUgBQM6w0TEw3rDBQAAQBL/+ADwAMgAD0AAAEmBg8BLgEjIgcGBwYUFxYXFjMyPgE3Ni4BBgcOAiMiJyYnJjQ3Njc2MzIeARcnJg4BFh8BMj8BNj8BNCYDpgwXAxc5yXZyY184Ojo4X2NyWaB4HgULGhcFGWaJS2FUUTAwMTBRU2FIhGQbgA0WBw4NwgUIBAwDMQ0CsQMODFhmeDk3XmHiYV43OUV9UQ0XCQsMRWo6MC9PUr9TTy8wNmNBJQMOGhYDMwMBCAu6DRYAAAAAAgBg/8YDugMiAB4AMwAABSc+ATU0JyYnJiIHBgcGFBcWFxYzMjc2NxcWMjc2JiUiJyYnJjQ3Njc2MhcWFxYUBwYHBgOxviouNDFVV8lXVTIzMzJVV2RDPzwzvgkeCAcB/hxUSEYpKiopRkioSEYpKyspRkgCvjB9RGRYVDIzNDJVWMlXVTE0GBYqvgkJChuBKylGSKhIRikqKilGSKhIRikrAAAAABIA3gABAAAAAAAAABMAKAABAAAAAAABAAgATgABAAAAAAACAAcAZwABAAAAAAADAAgAgQABAAAAAAAEAAgAnAABAAAAAAAFAAsAvQABAAAAAAAGAAgA2wABAAAAAAAKACsBPAABAAAAAAALABMBkAADAAEECQAAACYAAAADAAEECQABABAAPAADAAEECQACAA4AVwADAAEECQADABAAbwADAAEECQAEABAAigADAAEECQAFABYApQADAAEECQAGABAAyQADAAEECQAKAFYA5AADAAEECQALACYBaABDAHIAZQBhAHQAZQBkACAAYgB5ACAAaQBjAG8AbgBmAG8AbgB0AABDcmVhdGVkIGJ5IGljb25mb250AABpAGMAbwBuAGYAbwBuAHQAAGljb25mb250AABSAGUAZwB1AGwAYQByAABSZWd1bGFyAABpAGMAbwBuAGYAbwBuAHQAAGljb25mb250AABpAGMAbwBuAGYAbwBuAHQAAGljb25mb250AABWAGUAcgBzAGkAbwBuACAAMQAuADAAAFZlcnNpb24gMS4wAABpAGMAbwBuAGYAbwBuAHQAAGljb25mb250AABHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAHMAdgBnADIAdAB0AGYAIABmAHIAbwBtACAARgBvAG4AdABlAGwAbABvACAAcAByAG8AagBlAGMAdAAuAABHZW5lcmF0ZWQgYnkgc3ZnMnR0ZiBmcm9tIEZvbnRlbGxvIHByb2plY3QuAABoAHQAdABwADoALwAvAGYAbwBuAHQAZQBsAGwAbwAuAGMAbwBtAABodHRwOi8vZm9udGVsbG8uY29tAAAAAAIAAAAAAAAACgAAAAAAAQAAAAAAAAAAAAAAAAAAAAAACwAAAAEAAgECAQMBBAEFAQYBBwEIAQkRYXJyb3ctZG91YmxlLWxlZnQSYXJyb3ctZG91YmxlLXJpZ2h0EGN1c3RvbWVyLXNlcnZpY2URZnVsbHNjcmVlbi1leHBhbmQRZnVsbHNjcmVlbi1zaHJpbmsGcHJvbXB0B3JlZnJlc2gGc2VhcmNoAAAAAf//AAIAAQAAAAwAAAAWAAAAAgABAAMACgABAAQAAAACAAAAAAAAAAEAAAAA1aQnCAAAAADeWFEjAAAAAN5YUSM=")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ssqIcon";
  src: url("https://at.alicdn.com/t/font_2898999_0vo6fbiva2e.woff2?t=1636534542012")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.gvaIcon {
  font-family: "gvaIcon" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ssqIcon {
  font-family: "ssqIcon" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gvaIcon-arrow-double-left:before {
  content: "\e665";
}

.gvaIcon-arrow-double-right:before {
  content: "\e666";
}

.gvaIcon-fullscreen-shrink:before {
  content: "\e676";
}
.gvaIcon-customer-service:before {
  content: "\e66a";
}

.gvaIcon-fullscreen-expand:before {
  content: "\e675";
}

.gvaIcon-prompt:before {
  content: "\e67b";
}

.gvaIcon-refresh:before {
  content: "\e67c";
}

.gvaIcon-search:before {
  content: "\e67d";
}

.ssqIcon-chuchalvyouchuxing:before {
  content: "\e64c";
}

.ssqIcon-fuwushouxufei:before {
  content: "\e604";
}

.ssqIcon-zhuanzhang:before {
  content: "\e69e";
}

.ssqIcon-yundongfushi:before {
  content: "\e643";
}

.ssqIcon-shoujichongzhixian:before {
  content: "\e605";
}

.ssqIcon-touzi004:before {
  content: "\e618";
}

.ssqIcon-riyongpin:before {
  content: "\e63f";
}

.ssqIcon-chongwu:before {
  content: "\e608";
}

.ssqIcon-yule:before {
  content: "\e639";
}

.ssqIcon-jiudian:before {
  content: "\e60a";
}

.ssqIcon-baoxiao:before {
  content: "\e606";
}

.ssqIcon-fangzu:before {
  content: "\e60f";
}

.ssqIcon-jiekuanhuankuan:before {
  content: "\e635";
}

.ssqIcon-shebaogongjijin:before {
  content: "\e607";
}

.ssqIcon-tuikuan:before {
  content: "\e624";
}

.ssqIcon-gouwu:before {
  content: "\e754";
}

.ssqIcon-public-welfare:before {
  content: "\e652";
}

.ssqIcon-daochacanyin:before {
  content: "\e626";
}

.ssqIcon-cz-zc:before {
  content: "\e70c";
}

.ssqIcon-airudiantubiaohuizhi-zhuanqu_qinzichengchang:before {
  content: "\e699";
}

.ssqIcon-gongzuoxinchoutongji:before {
  content: "\e68c";
}

.ssqIcon-jiaoyu:before {
  content: "\e661";
}

.ssqIcon-shourux:before {
  content: "\e636";
}

.ssqIcon-hongbao:before {
  content: "\e637";
}

.ssqIcon-142-baoxian:before {
  content: "\e881";
}

.ssqIcon-xianjin:before {
  content: "\e6b6";
}

.ssqIcon-yaowan:before {
  content: "\e632";
}

.ssqIcon-chartBarUpward-copy:before {
  content: "\e84d";
}

.ssqIcon-jia:before {
  content: "\e600";
}

.ssqIcon-wode:before {
  content: "\e601";
}

.ssqIcon-shouzhimingxicaifuqianbao:before {
  content: "\e791";
}

.ssqIcon-24gf-chartBarUpward:before {
  content: "\e848";
}

.ssqIcon-jia-copy:before {
  content: "\e849";
}

.ssqIcon-wode-copy:before {
  content: "\e84a";
}

.ssqIcon-shouzhimingxicaifuqianbao-copy:before {
  content: "\e84b";
}

.ssqIcon-shouzhimingxi:before {
  content: "\e78e";
}

.ssqIcon-shouzhimingxi-copy:before {
  content: "\e84e";
}
.ssqIcon-chuchalvyouchuxing:before {
  content: "\e64c";
}

.ssqIcon-fuwushouxufei:before {
  content: "\e604";
}

.ssqIcon-zhuanzhang:before {
  content: "\e69e";
}

.ssqIcon-yundongfushi:before {
  content: "\e643";
}

.ssqIcon-shoujichongzhixian:before {
  content: "\e605";
}

.ssqIcon-touzi004:before {
  content: "\e618";
}

.ssqIcon-riyongpin:before {
  content: "\e63f";
}

.ssqIcon-chongwu:before {
  content: "\e608";
}

.ssqIcon-yule:before {
  content: "\e639";
}

.ssqIcon-jiudian:before {
  content: "\e60a";
}

.ssqIcon-baoxiao:before {
  content: "\e606";
}

.ssqIcon-fangzu:before {
  content: "\e60f";
}

.ssqIcon-jiekuanhuankuan:before {
  content: "\e635";
}

.ssqIcon-shebaogongjijin:before {
  content: "\e607";
}

.ssqIcon-tuikuan:before {
  content: "\e624";
}

.ssqIcon-gouwu:before {
  content: "\e754";
}

.ssqIcon-public-welfare:before {
  content: "\e652";
}

.ssqIcon-daochacanyin:before {
  content: "\e626";
}

.ssqIcon-cz-zc:before {
  content: "\e70c";
}

.ssqIcon-airudiantubiaohuizhi-zhuanqu_qinzichengchang:before {
  content: "\e699";
}

.ssqIcon-gongzuoxinchoutongji:before {
  content: "\e68c";
}

.ssqIcon-jiaoyu:before {
  content: "\e661";
}

.ssqIcon-shourux:before {
  content: "\e636";
}

.ssqIcon-hongbao:before {
  content: "\e637";
}

.ssqIcon-142-baoxian:before {
  content: "\e881";
}

.ssqIcon-xianjin:before {
  content: "\e6b6";
}

.ssqIcon-yaowan:before {
  content: "\e632";
}

.ssqIcon-chartBarUpward-copy:before {
  content: "\e84d";
}

.ssqIcon-jia:before {
  content: "\e600";
}

.ssqIcon-wode:before {
  content: "\e601";
}

.ssqIcon-shouzhimingxicaifuqianbao:before {
  content: "\e791";
}

.ssqIcon-24gf-chartBarUpward:before {
  content: "\e848";
}

.ssqIcon-jia-copy:before {
  content: "\e849";
}

.ssqIcon-wode-copy:before {
  content: "\e84a";
}

.ssqIcon-shouzhimingxicaifuqianbao-copy:before {
  content: "\e84b";
}

.ssqIcon-shouzhimingxi:before {
  content: "\e78e";
}

.ssqIcon-shouzhimingxi-copy:before {
  content: "\e84e";
}
